[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/gif;
Actions=convertGifToAvif

[Desktop Action convertGifToAvif]
Name=Convert to AVIF
Name[de]=In AVIF umwandeln
Icon=image-gif
Exec=gif2avif %u

